.App {
  font-family: "Raleway", sans-serif;
  margin-bottom: 24px;
  overflow: unset !important;
}

.flex {
  display: flex;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  transition: 0.5s;
  line-height: 23px;
}

body {
  margin: 0;
  padding-bottom: 50px;
}

.divg {
  background: #2c4672;
  text-align: center;
  font-size: 2.1em;
  color: #90bde5;
  margin: 0 auto;
  padding: 52px 20px;
  box-shadow: 0 4px 10px grey;
  margin-bottom: 20px;
  line-height: 34px;
}
/* .divg::after {
  content: "";
  height: 1px;
  width: 300px;
  background-color: black;
  box-shadow: 0 1px blueviolet;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
} */

.targa {
  text-align: center;
  margin: 40px;
  margin-bottom: 0;
}

.voinp {
  margin: 10px auto;
  padding: 10px;
  box-shadow: 1px 0px 6px rgb(165 163 163);
  border: 1px solid rgb(183, 183, 185);
  border-radius: 4px;
  width: 317px;
  outline: none;
}

.voinp:focus {
  box-shadow: 0 4px 10px grey;
}

.aGre {
  /* background: white; */
  padding: 1px 4px;
  font-weight: 500;
  color: blue;
  text-decoration: none;

  border-radius: 4px;
  cursor: pointer;
  white-space: nowrap;
  font-size: 0.9em;
}

.aGre:hover {
  box-shadow: 2px 2px 3px #999696;
}

.desrim {
  display: block;
  box-shadow: 3px 3px 13px grey;
  border-radius: 4px;
  margin-top: 10px;
  /* max-width: 34vw; */
  max-height: 15vh;
}

.imgM {
  width: 90vh;
  display: block;
  /* background: #6a6666; */
  /* padding: 8px; */
  border-radius: 7px;
  box-shadow: 0px 0px 10px 1px black, 0px 0px 7px 2px black;
  background: #2c4672;
  height: auto;
  /* max-width: 95%; */
  max-height: 95%;
  /* max-width: 95%; */
}

.model {
  position: fixed;
  top: 0;
  bottom: 0;
  background: #000000c4;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 9999;
}

.vimodel {
  text-align: center;
}
.cgh {
  /* font-size: 0.7em; */
  margin: 0 auto;
  color: white;
  /* text-align: left; */
  /* margin-left: 20px; */
  font-style: italic;
  position: absolute;
  top: 2vh;
  left: 5%;
  /* display: flex;
  justify-content: center; */
}

.degf {
  font-weight: 100;
  margin-left: 10px;
  font-size: 2em;
  color: #0f7ad9;
  background: aliceblue;
  padding: 2px;
  border-radius: 4px;
  line-height: 15px;
  text-shadow: 0 0 2px #06435a;
  box-shadow: 1px 1px 4px 2px #857e7e;
  cursor: pointer;
}

.degf:hover {
  text-shadow: none;
}

@media only screen and (max-width: 800px) {
  .desrim {
    max-width: 62vw;
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }
}
